<h1>Profile Information</h1>
<h2>View or Edit Your Profile</h2>

<!-- <div>
    <h3>Job Search Status</h3>
    <input type="radio" id="radio1" value="1" name="searchStage" ng-model="user.searchStage">
    <label for="radio1" type="radio" id="radio1">Early</label>
    <input type="radio" id="radio2" value="2" name="searchStage" ng-model="user.searchStage">
    <label for="radio2" type="radio" id="radio2">Mid</label>
    <input type="radio" id="radio3" value="3" name="searchStage" ng-model="user.searchStage">
    <label for="radio3" type="radio" id="radio3">Late</label>
    <input type="radio" id="radio4" value="4" name="searchStage" ng-model="user.searchStage">
    <label for="radio4" type="radio" id="radio4">Closed</label>
</div> -->
<!-- 
<button ng-init="readOnly=true" ng-click="readOnly=false" ng-show="readOnly">+ Edit Profile</button>
<button ng-click="readOnly=true; update()" ng-show="!readOnly">Save Profile</button> -->

<form ng-submit="update()">
    <table>
        <tr>
            <th>Name:</th>
            <td><input type="text" ng-model="user.name"></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><input type="text" ng-model="user.email"></td>
        </tr>
        <tr>
            <th>Github:</th>
            <td><input type="text" ng-model="user.github"></td>
        </tr>
        <tr>
            <th>Personal Website:</th>
            <td><input type="text" ng-model="user.website"></td>
        </tr>
    </table>

    <h3>Candidate Survey</h3>

    <h3>Binary Questions</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Yes</th>
            <th>No</th>
        </tr>
        <tr ng-repeat="tag in binary track by $index">
            <td>{{tag.name}}</td>
            <td><input type="radio" name="{{$index}}" ng-value="true" ng-model="tag.value" required></td>
            <td><input type="radio" name="{{$index}}" ng-value="false" ng-model="tag.value" required></td>
        </tr>
    </table>

    <h3>Scale Questions</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
        </tr>
        <tr ng-repeat="tag in scale track by $index">
            <td>{{tag.name}}</td>
            <td><input type="radio" name="{{$index}}" ng-value="1" ng-model="tag.value" required></td>
            <td><input type="radio" name="{{$index}}" ng-value="2" ng-model="tag.value" required></td>
            <td><input type="radio" name="{{$index}}" ng-value="3" ng-model="tag.value" required></td>
            <td><input type="radio" name="{{$index}}" ng-value="4" ng-model="tag.value" required></td>
        </tr>
    </table>

    <h3>Text Questions</h3>
    <table>
        <tr ng-repeat="tag in text track by $index">
            <td>{{tag.name}}</td>
            <td><textarea ng-model="tag.value"></textarea></td>
        </tr>
    </table>
    <input type="submit">
</form>

