<h1>Company Dossier</h1>
<h2>View or edit companies in detail</h2>

<button ng-init="readOnly=true" ng-click="readOnly=false" ng-show="readOnly">+ Edit Company</button>
<button ng-click="readOnly=true; update()" ng-show="!readOnly">Save Company</button>
<p>Company Information</p>

<table class="table table-striped table-condensed">
    <tr>
        <th>Company Name:</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.name"></td>
    </tr>
    <tr>
        <th>Tagline:</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.tagline"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.description"></td>
    </tr>
    <tr>
        <th>Address</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.address"></td>
    </tr>
    <tr>
        <th>City</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.city"></td>
    </tr>
    <tr>
        <th>State</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.state"></td>
    </tr>
    <tr>
        <th>Country</th>
        <td><input type="text" ng-readonly="readOnly" ng-model="company.country"></td>
    </tr>
    <tr>

    <tr>
        <th>Media</th>
        <td><button type="button" ng-click="addMedia(); readOnly=false">+ Add New</button></td>
    </tr>

    <tr ng-repeat="media in company.media track by $index">
        <th></th>
        <td>
            <input type="text" ng-readonly="readOnly" ng-model="media.caption" placeholder="caption">
            <input type="text" ng-readonly="readOnly" ng-model="media.url" placeholder="url">
            <button type="button" ng-click="removeMedia($index)" ng-show="!readOnly">Remove</button>
        </td>
    </tr>

    <tr>
        <th>Learn More</th>
        <td><button type="button" ng-click="addLink(); readOnly=false">+ Add New</button></td>
    </tr>

    <tr ng-repeat="link in company.links track by $index">
        <th></th>
        <td>
            <input type="text" ng-readonly="readOnly" ng-model="link.title" placeholder="title">
            <input type="text" ng-readonly="readOnly" ng-model="link.url" placeholder="url">
            <button type="button" ng-click="removeLink($index)" ng-show="!readOnly">Remove</button>
        </td>
    </tr>
</table>

<p>Associated Opportunities</p>

<div class="section container-fluid" ng-show="opportunities">
    <div class="row">
        <table class="table">
        <thead>
            <tr>
                <th></th><!-- empty table header -->
                <th>Name</th>
                <th>Interested Candidates</th>
                <th>URL</th>
                <th>Title</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="opportunity in opportunities">
                <td><a ui-sref="admin.opportunities.detail({_id: opportunity._id})">Detail Link</a></td>
                <td>{{ opportunity.company.name }}</td>
                <td>{{ opportunity.userInterest }}</td>
                <td>{{ opportunity.links[0].url }}</td>
                <td>{{ opportunity.jobTitle }}</td>
                <td>{{ opportunity.company.city }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
