<h3>Admin.Companies.Detail Template</h3>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="detail"></th>
            <th class="name">Name</th>
            <th class="opportunities">Opportunities</th>
            <th class="url">URL</th>
            <th class="location">Location</th>
            <th class="brief-description">Brief Description</th>
        </tr>
    </thead>
    <tr>
        <td class="readOnly">
            <button ng-init="readOnly = true" ng-click="readOnly=!readOnly">Edit</button>
        </td>
        <td class="name">
            <input type="text" ng-readonly="readOnly" value="{{company.name}}">
        </td>
        <td class="opportunities">{{company.opportunities.length}}</td>
        <td class="url">
            <input type="text" ng-readonly="readOnly" value="{{company.url}}">
        </td>
        <td class="location">
            <input type="text" ng-readonly="readOnly" value="{{company.city}}">
        </td>
        <td class="brief-description">
            <input type="text" ng-readonly="readOnly" value="{{company.briefDescription}}">
        </td>
    </tr>
</table>
