<h1>Company Dossier</h1>
<h2>View or edit companies in detail</h2>

<button ng-init="readOnly = true" ng-click="readOnly=!readOnly">+ Edit Company</button>
<p>Company Information</p>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="opportunities">Opportunities</th>
            <th class="url">URL</th>
            <th class="location">Location</th>
            <th class="brief-description">Brief Description</th>
        </tr>
    </thead>
    <tr>
        <td class="name">
            <input type="text" ng-readonly="readOnly" value="{{company.name}}">
        </td>
        <td class="opportunities">{{company.opportunities.length}}</td>
        <td class="url">
            <input type="text" ng-readonly="readOnly" value="{{company.url}}">
        </td>
        <td class="location">
            <input type="text" ng-readonly="readOnly" value="{{company.city}}">
        </td>
        <td class="brief-description">
            <input type="text" ng-readonly="readOnly" value="{{company.briefDescription}}">
        </td>
    </tr>
</table>

<p>Associated Opportunities</p>

<div class="section container-fluid" ng-show="opportunities">
    <div class="row">
        <table>
        <thead>
            <tr>
                <th></th><!-- empty table header -->
                <th>Name</th>
                <th>Interested Candidates</th>
                <th>URL</th>
                <th>Title</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="opportunity in opportunities">
                <td><a ui-sref="admin.opportunities.detail({_id: opportunity._id})">Detail Link</a></td>
                <td>{{ opportunity.company.name }}</td>
                <td>{{ opportunity.userInterest }}</td>
                <td>{{ opportunity.links[0] }}</td>
                <td>{{ opportunity.jobTitle }}</td>
                <td>{{ opportunity.company.city }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>