<h1>New Company</h1>
<h2>Create a record for a new company</h2>

<p>Company Information</p>

<form ng-submit="create()">
    <table class="table">
        <tr>
            <th>Company Name</th>
            <td><input type="text" ng-model="newCompany.name"></td>
        </tr>
        <tr>
            <th>Tagline</th>
            <td><input type="text" ng-model="newCompany.tagline"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><input type="text" ng-model="newCompany.description"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><input type="text" ng-model="newCompany.address"></td>
        </tr>
        <tr>
            <th>City</th>
            <td><input type="text" ng-model="newCompany.city"></td>
        </tr>
        <tr>
            <th>State</th>
            <td><input type="text" ng-model="newCompany.state"></td>
        </tr>
        <tr>
            <th>Country</th>
            <td><input type="text" ng-model="newCompany.country"></td>
        </tr>
        <tr>
            <th>Media</th>
            <td>
                <button type="button" ng-click="addMedia()">+ Add New</button>
            </td>
        </tr>
        <tr ng-repeat="media in newCompany.media track by $index">
            <th></th>
            <td><input type="text" ng-model="media.caption" placeholder="caption"></td>
            <td><input type="text" ng-model="media.url" placeholder="url"></td>
            <td>
                <button type="button" ng-click="removeMedia($index)">Remove</button>
            </td>
        </tr>
        <tr>
            <th>Learn More</th>
            <td>
                <button type="button" ng-click="addLink()">+ Add New</button>
            </td>
        </tr>
        <tr ng-repeat="link in newCompany.links track by $index">
            <th></th>
            <td><input type="text" ng-model="link.title" placeholder="title"></td>
            <td><input type="text" ng-model="link.url" placeholder="url"></td>
            <td>
                <button type="button" ng-click="removeLink($index)">Remove</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>