#dialogue-box {
    position: fixed; z-index: 500;
    box-sizing: border-box;

    width: 400px; height: 200px;
    left: 40%; top: 35%;

    background-color: #FEFEFE;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #606060;
    border: 1px solid #C0C0C0;
}

#dialogue-box input {
    padding: 8px; height: 30px;

    border-radius: 1px; border: none; outline: none;
    box-shadow: 1px 1px 1px #E0E0E0;

    font-weight: 400; font-size: 0.875em;
    color: #F0F0F0; text-transform: uppercase;
    background-color: #5598c1;
}
#dialogue-box input:hover { color: #c9e3ef; cursor: pointer; }
#dialogue-box a { color: #F0F0F0; }
#dialogue-box a:hover { color: #c9e3ef; text-decoration: none; }

#dialogue-title {
    padding: 5px 12px 5px 12px; text-align: right;

    font-weight: 400; text-transform: uppercase;
    background-color: #E4E4E4;
}

#dialogue-content {
    text-align: center;
    padding: 12px 12px 5px 12px;
    height: 180px; width: 370px;
    color: #606060; font-weight: 200;
}
