.login-splash, .login-bg {
    position: absolute;
    width: 100%; left: 0px;
    height: 100%; top: 0px;
}
.login-splash {
    z-index: 10;
    display: table;
    background-color: #5598c1;
}
.login-bg {
    z-index: 10;
    opacity: 0.12;

    background-image: url('../images/login_background.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    z-index: 100;

    color: #e4e0e0;
    font-weight: 100;
}

.login-subtitle, .login-title { padding-right: 16.6667%; }
.login-subtitle {
    letter-spacing: 0.25px;
    font-size: 1.375em;
}
.login-incorrect {
    padding-left: 3px;
    font-size: 1em;
    color: #e4e0e0;
    font-weight: 300;
}
.login-title {
    line-height: 0.75em;
    font-size: 3.5em;
    font-weight: 200;
}

.login-box {
    padding-left: 8.3333%;
    margin: 32px 0px 25px 0px;
    font-weight: 300;
    font-size: 1.125em;
}
.login-field, .login-button {
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background-color: #bedcea;
    height: 24px;
}
.login-field {
    width: 270px;
    font-size: 0.875em;
    color: #606060;
}
.login-button {
    margin-top: 10px;
    width: 180px;
    color: #5598c1;
    font-size: 0.875em;
    font-weight: 300;
}
.login-button:active {
    background-color: #CCCCCC;
}

.login-reset { padding-top: 5px; font-size: 0.8em; }
.login-reset:hover { cursor: pointer; color: #bedcea;}
