body {
    margin: 0px; padding: 0px;
    width: 100%; height: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #F4F4F4;
}
table {
    border-collapse: collapse;
}
.omega { padding-right: 0px; }
.alpha { padding-left: 0px; }

.dashboard-header {
    font-weight: 500;
    /*border: 1px solid yellow;*/
    /*background-color: #E4E4E4;*/
    width: 100%;
    height: 135px;
}

.welcome-message {
    /*border: 1px solid black;*/
    position: relative;
    height: 100%;
    width: 40%;
    /*padding-top: 10px;*/
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 22px;
    /*margin: 20px;*/

    float: left;
}

.welcome-alerts {
    /*border: 1px solid green;*/
    position: relative;
    text-transform: uppercase;

    float: left;

    height: 100%;
    width: 55.8%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 10%;
}

.welcome-alert {
    /*border: 1px solid black;*/
    position: relative;
    color: white;
    text-transform: uppercase;
    background-color: #5598c1;

    float: right;

    height: 100%;
    width: 30%;
    margin-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.welcome-notice {
    /*border: 1px solid black;*/
    position: relative;
    color: white;
    text-transform: uppercase;
    background-color: #6c6c6c;

    float: right;

    height: 100%;
    width: 30%;
    margin-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.pretty-blue {
    color: #5598c1;
}

.sidebar-container a { color: #F0F0F0; }
.sidebar-container a:hover { color: #c9e3ef; text-decoration: none; }

/* Sidebar and Content */
.sidebar-container, .content-container {
    height: 100%;
}
.sidebar-container {

    position: fixed;
    left: 0px; width: 180px;
    padding-right: 12px;
    z-index: 5;

    background-color: #6c6c6c;
    color: #F0F0F0;
}
.content-container {
    position: absolute;
    left: 180px; right: 0px;
    padding-left: 26px;
    padding-right: 18px;
}

/* Sidebar Decorations */
.sidebar-logo {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar-glyphicon {
    padding-left: 6px;
    opacity: 0.9;
}

.sidebar-item, .sidebar-logout {
    padding-bottom: 7px;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 0.9em;
}
.sidebar-item { padding-top: 7px; }
.sidebar-logout { padding-top: 28px; }

.sidebar-active {
    position: relative;
    width: 187px; padding-right: 19px;
    background-color: #5598c1;
}
.sidebar-active a { color: #c9e3ef; font-weight: 400; }
.sidebar-active a:hover { color: #c9e3ef; font-weight: 400; }

/* Headings */
.content-header {
    display: table;
    width: 100%; padding-top: 20px; padding-bottom: 12px;
    text-align: right; text-transform: uppercase;
}
.content-header-block {
    display: table-cell;
    width: 50%; vertical-align: bottom;
}
.content-title {
    font-weight: 300; font-size: 1.75em;
    color: #5598c1;
    margin-bottom: -2px;
}
.content-tagline {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1em;
}

.content-action {
    display: inline-block;
    padding: 8px;
    height: 30px;

    background-color: #5598c1;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #E0E0E0;

    font-weight: 400; font-size: 0.9em;
    color: #F0F0F0; text-transform: uppercase;
}
.content-action:hover { color: #c9e3ef; cursor: pointer; }
.content-section { padding-top: 12px; padding-bottom: 12px; }
.content-scrollable { overflow-x: scroll; overflow-y: hidden; }

.content-button {
    padding: 8px; height: 30px;

    border-radius: 1px; border: none; outline: none;
    box-shadow: 1px 1px 1px #E0E0E0;

    font-weight: 400; font-size: 0.8em;
    color: #F0F0F0; text-transform: uppercase;
    background-color: #5598c1;
}
.content-button:hover { color: #c9e3ef; cursor: pointer; }

/* misc widgets */
.textbox-textarea {
  width: 100%;
  height: 500px;
}

.pointer {
  cursor: pointer;
}

.graph-tag {
    font-weight: 300;
    color: #6c6c6c;
}
.graph-box {
    box-sizing: border-box;
    display: block;
    width: 75%;
    border: 0px solid black;
}
.graph-bar {
    display: inline-table;
    border: 0px; border-radius: 2px;
    background-color: #CCCCCC;
    color: #6c6c6c;

    vertical-align: middle;
    text-align: center;
    font-weight: 200; font-size: 0.875em;
}

.type-title { font-size: 1.5em; font-weight: 200; text-transform: uppercase; }
.type-subtitle, .type-tagline { font-size: 0.925em; font-weight: 300; text-transform: none;}
.type-linkbox { padding-top: 10px; text-transform: none; font-weight: 300;}
.type-linkbox a:hover { text-decoration: none; }
.type-normal { font-size: 1em; font-weight: 200; text-transform: none;}
.type-header { font-size: 1.125em; font-weight: 400; text-transform: uppercase;}
.type-padded { padding-left: 3px; padding-right: 3px;}

.company-city {
    color: white;
    text-transform: uppercase;

    background-color: #5598c1;
    padding-left: 2px;
}
.title { font-weight: bold; }
.box-image { height: 363px !important; padding-right: 12px; }
.box-video { width: 100%; padding-right: 12px; }
.img-small { width: 100px; padding-right: 10px; }
.vid-small { width: 100px; padding-right: 10px; }

.top-container { display: table-row; height: 363px; }
.float-container { display: inline-block; min-height: 100%; }
.float-container-row { display: table-row; }
.thumbnail-container-row { display: inline; }
.float-top { display: table-cell; vertical-align: top;}
.float-bottom { display: table-cell; vertical-align: bottom; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-default {
  border: none;

}
.panel-default>.panel-heading {
    color: #333;
    background-color: #FEFEFE;
    border-radius: 0;
    margin-bottom: -2px;
}
.contentsStyle {
  font-family: 'Roboto', sans-serif;
  line-height: 20%;
  margin-top: 2px;
  margin-bottom: -3px;

}

.accordion-toggle:hover {
  text-decoration: none;
}
.smallStyle {
  font-family: "Roboto", sans-serif;
  color: #606060;
  vertical-align: top;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.42857143;
  margin-top: -4px;
  margin-bottom: -15px;
}
small {
  margin-left: -8px;

  /* float to right
  float: right;
  margin-top: -20px;
  } */
}

/*.gridStyle {
    border: 1px solid rgb(212,212,212);
    /*width: 400px;*/
    height: 1000px
}*/
.glyphicon {
  font-size: 1.2em;
}

.cellWidth {
    width: 40px;
}
.starStyle {
  color: yellow;
}

.upVoteStyle {
  color: rgb(142, 190, 97);
}

.downVoteStyle {
  color: orange;
}

.noGoStyle {
  color: rgb(191, 86, 89);
}
