<div class="content-header">
    <div class="content-header-block text-left">
        <!-- buttons -->
    </span>
    </div>
    <div class="content-header-block">
        <div class="content-title">Opportunity Dossier</div>
        <div class="content-tagline">{{ opportunity.company.name }}: {{ opportunity.jobTitle }}</div>
    </div>
</div>

<div ng-show="opportunity">
<div class="row">
    <div class="content-section container-fluid">

<!--
__v: 3
_id: "53ae3231f1c5d4680f4c79ef"
address: "0547 Luella Dale"
city: "Parkerfort"
country: "Wales"
createdAt: "2014-06-28T03:10:41.600Z"
description: "scale real-time technologies"
geo: Array[2]
links: Array[1]
0: Object
_id: "53ae3231f1c5d4680f4c79f0"
title: "clear-thinking"
url: "http://lorempixel.com/640/480"
__proto__: Object
length: 1
__proto__: Array[0]
media: Array[1]
0: Object
length: 1
__proto__: Array[0]
name: "Aufderhar, Spinka and Prohaska"
opportunities: Array[3]
state: "California"
tagline: "Exclusive full-range structure"
updatedAt: "2014-06-28T03:10:42.345Z"
-->

        <div class="formbox-title">Company Information</div>
        <table class="formbox formbox-basic">
            <tr>
                <td>{{ company.description }}</td>
                <td>
                    <span>{{ company.name }}</span><br>
                    <span>{{ company.city }}, {{ company.country }}</span><br>
                    <span>{{ company.tagline }}</span>
                    <div ng-repeat="link in company.links">
                        <span ng-show="$first">Read more:</span><br>
                        <span><a ng-href="{{link.url}}">{{link.url}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">Opportunity Information</div>
        <table class="formbox formbox-basic">
            <tr>
                <td>{{ opportunity.description }}</td>
                <td>
                    <span>Title: {{ opportunity.jobTitle }}</span><br>
                    <div ng-repeat="link in opportunity.links">
                        <span ng-show="$first">Read more:</span><br>
                        <span><a ng-href="{{link.url}}">{{link.url}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">Indicate Interest</div>
        <div class="dashbox dashbox-content">
            <div class="dashbox-icon" ng-click="updateInterest(1)" ng-class="{'dashbox-icon-active':hasInterest(1)}">
                <span class="dashbox-icon-dingbat">➀</span><br>None
            </div>
            <div class="dashbox-icon" ng-click="updateInterest(2)" ng-class="{'dashbox-icon-active':hasInterest(2)}">
                <span class="dashbox-icon-dingbat">➁</span><br>Low
            </div>
            <div class="dashbox-icon" ng-click="updateInterest(3)" ng-class="{'dashbox-icon-active':hasInterest(3)}">
                <span class="dashbox-icon-dingbat">➂</span><br>Medium
            </div>
            <div class="dashbox-icon" ng-click="updateInterest(4)" ng-class="{'dashbox-icon-active':hasInterest(4)}">
                <span class="dashbox-icon-dingbat">➃</span><br>High
            </div>
            <div ng-repeat="tags in processedTags">
                <br>
                <div ng-repeat="tagType in tags">
                    <table class="table table-condensed text-left" ng-show="tagType">
                        <th width="40%">{{tags.importance === 'must' ? 'Must Have' : 'Nice to Have'}}</th>
                        <th width="20%">Your Value</th>
                        <th width="20%">Their Value</th>
                        <th width="20%">Comparison {{'(' + score + '% Match)'}}</th>
                        <tr ng-repeat="tag in tagType">
                            <td width="40%">{{tag.name}}</td>
                            <td width="20%">{{tag.userValue}}</td>
                            <td width="20%">{{tag.value}}</td>
                            <td><span class="glyphicon" ng-class="calculateFit(tag.importance, tag.value, tag.userValue)[0]" ng-if="tag.type !== 'text'" ng-style="{color: calculateFit(tag.importance, tag.value, tag.userValue)[1]}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">Additional Questions</div>
        <form ng-submit="submit()">
            <table class="formbox formbox-freetext">
                <tr ng-show="questions" ng-repeat="question in questions | filter: {active: true}">
                    <td>{{ question.question }}</td>
                    <td><textarea type="text" size="40" ng-model="answers[question.index].answer"></textarea></td>
                </tr>
            </table>
            <div class="formbox-footer">
                <input class="content-button" type="submit" value="{{submitText}}" ng-disabled="pendingRequest === 0">
            </div>
        </form>
    </div>

</div><!-- end row -->
</div><!-- end ng-show -->
