<div class="content-header">
    <div class="content-header-block text-left">
        <!-- buttons -->
    </span>
    </div>
    <div class="content-header-block">
        <div class="content-title">{{ opportunity.jobTitle }}</div>
        <div class="content-tagline">{{ opportunity.company.name }}</div>
    </div>
</div>

<div ng-show="opportunity">
<div class="row">
    <div class="content-section container-fluid">
        <div class="formbox-title">
            <table class="formbox-footer-pure">
                <tr>
                    <td width="60%">
                    <img class="box-image" src="{{ company.media[0].url }}">
                    </td>
                    <td class="text-left" style="height: 100%">
                        <div class="float-container">
                            <div class="float-container-row">
                            <div class="float-top">
                                <span class="type-header text-left">{{ company.name }}</span><br>
                                <span class="type-subtitle company-city">{{ company.city }} {{ company.country }}</span><br>
                                <span class="type-subtitle" ng-show="company.tagline">{{ company.tagline }}</span>
                            </div>
                            </div>
                            <br>
                            <div class="float-container-row">
                            <div class="float-bottom">
                                <span class="type-normal" style="white-space:pre-wrap;">{{ company.description }}</span><br>
                                <div class="type-linkbox" ng-repeat="link in company.links">
                                    <span ng-show="$first">Learn more:</span><br>
                                    <span><a ng-href="{{link.url}}">{{link.url}}</a></span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">Job Title: {{ opportunity.jobTitle }}</div>
        <table class="tablebox tablebox-basic">
            <tr class="tablebox-content tablebox-nohover">
                <td style="white-space:pre-wrap;">{{ opportunity.description }}</td>
            </tr>
            <tr class="tablebox-content tablebox-nohover" ng-if="opportunity.links[0]">
                <td> 
                    <span>Read more:</span>                       
                    <div ng-repeat="link in opportunity.links">
                        <span><a ng-href="{{link.url}}">{{link.url}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
        <div class="tablebox-title">What the Employer Is Looking For</div>
        <div ng-repeat="tags in processedTags" ng-if="tags">
            <table ng-repeat="(key, tagType) in tags" class="tablebox text-center" ng-show="tagType">
                <thead>
                    <tr class="tablebox-header">
                        <th width="20%" class="text-center">{{tags.importance === 'must' ? 'Must Haves' : 'Nice to Haves'}}</th>
                        <th width="25%" class="text-center">Your Profile</th>
                        <th width="25%" class="text-center">Recommended for This Opportunity</th>
                        <th width="30%" class="text-center">Comparison <br><span>{{'(' + score + '% match for employer)'}}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tag in tagType" class="tablebox-content">
                        <td width="20%">{{tag.name}}</td>
                        <td width="25%">{{tag.userValue}}</td>
                        <td width="25%">{{tag.value}}</td>
                        <td width="30%"><span class="glyphicon" ng-class="calculateFit(tag.importance, key, tag.value, tag.userValue)[0]" ng-if="tag.type !== 'text'" ng-style="{color: calculateFit(tag.importance, key, tag.value, tag.userValue)[1]}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">Indicate Interest</div>
        <table class="formbox formbox-basic text-center">
            <tr>
            <td style="horizontal-align: center;">
            <div class="dashbox-icon" ng-click="updateInterest(1)" ng-class="{'dashbox-icon-active':hasInterest(1)}">
                <span class="dashbox-icon-dingbat">➀</span><br>None
            </div>
            <div class="dashbox-icon" ng-click="updateInterest(2)" ng-class="{'dashbox-icon-active':hasInterest(2)}">
                <span class="dashbox-icon-dingbat">➁</span><br>Low
            </div>
            <div class="dashbox-icon" ng-click="updateInterest(3)" ng-class="{'dashbox-icon-active':hasInterest(3)}">
                <span class="dashbox-icon-dingbat">➂</span><br>Medium
            </div>
            <div class="dashbox-icon" ng-click="updateInterest(4)" ng-class="{'dashbox-icon-active':hasInterest(4)}">
                <span class="dashbox-icon-dingbat">➃</span><br>High
            </div>
            </td>
            </tr>
        </table>
        <form ng-submit="submit()">
            <table class="formbox formbox-freetext">
                <tr ng-show="questions" ng-repeat="question in questions | filter: {active: true}">
                    <td>{{ question.question }}</td>
                    <td><textarea type="text" size="40" ng-model="answers[question.index].answer"></textarea></td>
                </tr>
            </table>
            <div class="formbox-footer">
                <input class="content-button" type="submit" value="{{submitText}}" ng-disabled="pendingRequest === 0">
            </div>
        </form>
    </div>

</div><!-- end row -->
</div><!-- end ng-show -->
