<div ui-view>
    <div class="content-header">
        <div class="content-header-block text-left">
            <!-- buttons -->
        </span>
        </div>
        <div class="content-header-block">
            <div class="content-title">Opportunities</div>
            <div class="content-tagline">View job opportunities</div>
        </div>
    </div>

    <div class="content-section container-fluid" ng-repeat="category in categories">
        <div class="row">
        <div class="tablebox-title">{{ category.info.name }}</div>
        <table class="tablebox">
            <thead>
                <tr class="tablebox-header">
                    <th class="pointer" ng-click="sorter = 'company.name'; reverse = !reverse">Company</th>
                    <th class="pointer" ng-click="sorter = 'company.name'; reverse = !reverse">City</th>
                    <th class="pointer" ng-click="sorter = 'match'; reverse = !reverse">Match</th>
                    <th class="pointer" ng-click="sorter = 'interest'; reverse = !reverse">Interest</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tablebox-content" ng-repeat="opportunity in category.opportunities | orderBy:sorter:reverse" ui-sref="users.opportunities.detail({_id: opportunity._id})">
                    <td width="30%">
                        <div class="tablebox-leader"><a ui-sref="users.opportunities.detail({_id: opportunity._id})">{{ opportunity.company.name }}</a></div>
                        <div>{{ opportunity.jobTitle }}</div>
                    </td>
                    <td width="20%">
                        <div class="tablebox-tag">San Francisco</div>
                    </td>
                    <td width="20%" class="tablebox-tag" style="vertical-align: middle">
                        <div class="graph-box">
                            <div class="graph-bar" style="width: {{ opportunity.match }}%">&nbsp;</div>
                        </div>
                        <div class="graph-tag">{{ opportunity.match }}% match for employer</div>
                    </td>
                    <td width="20%" class="tablebox-tag" style="vertical-align: bottom">
                        <span>your interest: </span>
                        <span class="tablebox-important"> {{ opportunity.interest || 'n/a'}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
