<div ui-view>
    <div class="content-header">
        <div class="content-header-block text-left">
            <!-- buttons -->
        </span>
        </div>
        <div class="content-header-block">
            <div class="content-title">Opportunities</div>
            <div class="content-tagline">View job opportunities</div>
        </div>
    </div>

    <div class="content-section container-fluid" ng-repeat="category in categories">
        <div class="row">
        <div class="tablebox-title">{{ category.info.name }}</div>
        <table class="tablebox">
            <tr class="tablebox-content" ng-repeat="opportunity in category.opportunities | orderBy: 'company.name'" ui-sref="users.opportunities.detail({_id: opportunity._id})">
                <td width="70%">
                    <div class="tablebox-leader">{{ opportunity.company.name }}</div>
                    <div>{{ opportunity.jobTitle }}</div>
                </td>
                <td width="15%" class="tablebox-tag" style="vertical-align: middle">
                    <div class="tablebox-tag">{{ getGuidance(opportunity, user)[1] }}% match</div>
                </td>
                <td width="15%" class="tablebox-tag" style="vertical-align: middle">
                    <div class="tablebox-tag">interest: {{ opportunity.interest || 'n/a'}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>
