<h3 class="body-heading">Opportunity Dossier</h3><br>
<h4 class="body-tagline">View or edit opportunity dossier</h4>

<div class="section container-fluid">
    <div class="row">
        <span ng-click="toggleEdit()">{{ editButtonText }}</span>
        <span>Basic Information</span>
    </div>
    <div class="row">
        <div class="col-xs-6"><textarea ng-model="basic.description" cols="40" rows="10" spellcheck></textarea></div>
        <div class="col-xs-6">
            <table class="table">
            <tr>
                <td>Company:</td>
                <td>{{ basic.company }}</td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input ng-readonly="readOnly" type="text" value="{{basic.title}}"></td>
            </tr>
            <tr>
                <td>Active:</td>
                <td>
                    <input type="checkbox" ng-model="basic.active" ng-disabled="readOnly">
                </td>
            </tr>
              <tr>
                <td>Group:</td>
                <td>
                    <select ng-model="basic.group._id" ng-options="category._id as category.name for category in categories" ng-disabled="readOnly"></select>
                </td>
            </tr>
            <tr>
                <td>Links:</td>
                <td>
                    <div ng-repeat="link in basic.links">
                        <input type="text" ng-readonly="readOnly" ng-model="link.url" placeholder="Add new question here">
                        <span ng-show="!readOnly" ng-click="removeFrom(basic.links, link, 'url')">Remove</span>
                    </div>
                    <span ng-show="!readOnly" ng-click="addTo(basic.links, {url: ''})">+ Add New</span>
                </td>
            </tr>
            <tr>
                <td>Internal Notes:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.internal}}"></td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="row">
        <span>Guidance Parameters</span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table">
                <tr>
                    <td>Extra Questions</td>
                    <td>
                        <div ng-repeat="question in guidance.questions">
                            <input ng-readonly="readOnly" ng-model="question.question">
                            <span ng-show="!readOnly" ng-click="removeFrom(guidance.questions, question, 'question')">Remove</span>
                        </div>
                        <span ng-show="!readOnly" ng-click="addTo(guidance.questions, {question: ''})">+ Add New</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6">
            <table class="table">
                <tr>
                    <td>Tags Associated</td>
                    <td>
                        <div ng-repeat="tagView in guidance.tags">
                            <span>{{ tagView.data.name }}</span>
                            <select ng-show="!readOnly" ng-model="tagView.data" ng-options="tag.name for tag in tags"></select>
                            <input ng-readonly="readOnly" ng-model="tagView.value">
                            <span>{{ tagView.importance }}</span>
                            <select ng-show="!readOnly" ng-model="tagView.importance">
                                <option value="must" selected>Must have</option>
                                <option value="nice">Nice to have</option>
                                <option value="unimportant">Unimportant</option>
                            </select>
                            <span ng-show="!readOnly" ng-click="removeFrom(guidance.tags, tagView, 'name')">Remove</span>
                        </div>
                        <span ng-show="!readOnly" ng-click="addTo(guidance.tags, {data: { }, value: 1, importance: 'must'})">+ Add New</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="row">
        <span>Declared Candidates</span>
    </div>
    <div class="row">
        <table class="table">
        <thead>
            <th></th><!-- Empty table header-->
            <th>Name</th>
            <th>E-mail</th>
            <th>Interest</th>
            <th ng-repeat="tag in guidance.tags">{{ tag.name }}</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in declared">
            <td><a ui-sref="admin.candidates.detail({_id: user._id})">Detail</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.interest }}</td>
            <td ng-repeat="attribute in user.tags">{{ attribute.value }}</td>
            </tr>
        </tbody>
    </div>
</div>
