<form name="oppForm" ng-submit="toggleEdit()">
<div class="content-header">
    <div class="content-header-block text-left">
        <input class="content-button" type="submit" ng-value="editButtonText" ng-click="updateGuidance()">
    </div>
    <div class="content-header-block">
        <div class="content-title">Opportunity Dossier</div>
        <div class="content-tagline">View or edit opportunity</div>
    </div>
</div>
</form>
<input class="content-button" type="submit" value="Preview" ng-click="seePreview()">

<div class="row">
    <div class="content-section container-fluid">
        <table class="table table-condensed">
        <tr>
            <td>Company:</td>
            <td><select ng-model="basic.company" ng-disabled="readOnly" ng-options="company._id as company.name for company in companies | orderBy:'name'" required></select></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input size="50" ng-readonly="readOnly" type="text" ng-model="basic.title" required></td>
        </tr>
        <tr>
        <tr>
            <td>Description:</td>
            <td style="white-space:pre-wrap"><textarea ng-model="basic.description" cols="100" rows="15" ng-disabled="readOnly" spellcheck required></textarea></td>
        </tr>
        <tr>
            <td>Active:</td>
            <td><input type="checkbox" ng-model="basic.active" ng-disabled="readOnly"></td>
        </tr>
        <tr>
            <td>Public:</td>
            <td><input type="checkbox" ng-model="basic.approved" ng-disabled="readOnly"></td>
        </tr>
          <tr>
            <td>Group:</td>
            <td><select ng-model="basic.group._id" ng-options="category._id as category.name for category in categories" ng-disabled="readOnly"></select></td>
        </tr>
        <tr>
            <td>Links:</td>
            <td>
                <div ng-repeat="link in basic.links">
                    <input size="25" type="text" ng-model="link.title" ng-readonly="readOnly" placeholder="Link title">
                    <input size="50" type="url" ng-model="link.url" ng-readonly="readOnly" placeholder="URL">
                    <a ng-href="{{link.url}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span><a/>
                    <input type="button" ng-show="!readOnly" class="btn btn-default btn-xs" ng-click="removeFrom($index, basic.links)" value="Remove"></input>
                </div>
                <input type="button" class="btn btn-default btn-xs" ng-show="!readOnly" ng-click="addTo(basic.links, {title: '', url: ''})" value="+ Add New"></input>
            </td>
        </tr>
        <tr>
            <td>Notes:</td>
            <td><textarea cols="50" rows="3" ng-readonly="readOnly" ng-model="basic.notes"></textarea></td>
        </tr>
        <tr>
            <td>Internal Notes:</td>
            <td><textarea cols="50" rows="3" ng-readonly="readOnly" ng-model="basic.internal"></textarea></td>
        </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
    <input class="content-button" type="submit" ng-value="editButtonText" ng-click="updateGuidance()">
    <h4>Guidance Parameters</h4>
        <div class="col-xs-6">
            <table class="table">
                <div>Tags Associated</div>
                <tr>
                    <td>
                        <div ng-repeat="tagView in guidance.tags"><select ng-disabled="readOnly" ng-model="tagView.importance" ng-change="updateGuidance()">
                                <option value="must" selected>Must Have</option>
                                <option value="nice">Nice to Have</option>
                            </select>
                            <select ng-disabled="readOnly" ng-model="tagView.data._id" ng-options="tag._id as tag.name group by tag.category.name for tag in tags | orderBy: 'name'" ng-change="showCorrectValues(tagView, tagView.data._id); updateGuidance()"></select>
                            <select ng-disabled="readOnly" ng-show="tagView.data.type === 'scale'" ng-model="tagView.value" ng-change="updateGuidance()">
                                <option value="3">3 (Agree)</option>
                                <option value="4">4 (Agree Strongly)</option>
                            </select>
                            <select ng-disabled="readOnly" ng-show="tagView.data.type === 'binary'" ng-model="tagView.value" ng-change="updateGuidance()">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <select ng-disabled="readOnly" ng-show="tagView.data.type === 'text'" ng-model="tagView.value">
                                <option value="text">Free Text</option>
                            </select>
                            <input type="button" ng-show="!readOnly" class="btn btn-default btn-xs" ng-click="removeFrom($index, guidance.tags); updateGuidance()" value="Remove"></input>
                        </div>
                        <input type="button" ng-show="!readOnly" class="btn btn-default btn-xs" ng-click="addTo(guidance.tags, {importance: 'must'})" value="+ Add New"></input>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6">
            <table class="table table-condensed">
                <div>Extra Questions</div>
                <tr>
                    <td>
                        <div ng-repeat="question in guidance.questions | filter:{active:true}">
                            <textarea cols="50" rows="2" ng-readonly="readOnly" ng-model="question.question"></textarea>
                            <input type="button" ng-show="!readOnly" class="btn btn-default btn-xs" ng-click="removeFrom($index, guidance.questions)" value="Remove"></input>
                        </div>
                        <input type="button" ng-show="!readOnly" class="btn btn-default btn-xs" ng-click="addTo(guidance.questions, {question: '', active: true})" value="+ Add New"></input>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="section container-fluid">
        <div class="row">
            <span>Declared Candidates</span>
            <table class="table table-condensed">
            <tbody>
            <tr><td class="glyphicon glyphicon-thumbs-up"> (Must Have) Meets or Exceeds</td></tr>
            <tr><td class="glyphicon glyphicon-remove"> (Must Have) Does not Meet</td></tr>
            <tr><td class="glyphicon glyphicon-plus"> (Nice to Have) Meets or Exceeds</td></tr>
            </tbody>
            </table>
        </div>
        <div class="row">

            <button type="button" ng-init="hideQuestions = true; hideTags = false" ng-click="hideQuestions = !hideQuestions; hideTags = !hideTags">Toggle Questions and Tags</button>

            <table class="table table-striped table-condensed">
            <thead>
                <th></th><!-- Empty table header-->
                <th><div class="text-left pointer" ng-click="sorter = 'name'; reverse = !reverse">Name <span class="glyphicon glyphicon-sort"></span></div></th>
                <th><div class="text-left  pointer" ng-click="sorter = 'category'; reverse = !reverse">Group <span class="glyphicon glyphicon-sort"></span></div></th>
                <th><div class="text-left  pointer" ng-click="sorter = 'searchStage'; reverse = !reverse">Stage <span class="glyphicon glyphicon-sort"></span></div></th>
                <th><div class="text-center pointer" ng-click="sorter = 'score'; reverse = !reverse">Match <span class="glyphicon glyphicon-sort"></span></div></th>
                <th><div class="text-center pointer" ng-click="sorter = 'interest'; reverse = !reverse">Interest <span class="glyphicon glyphicon-sort"></span></div></th>
                <th><div class="text-center pointer"> Admin Override <span></span></div></th>
                <th><div class="text-center pointer"> Scheduling Preference <span></span></div></th>
                <th ng-repeat="tag in filteredTags" ng-show="!hideTags"><div class="text-center">{{ tag.data.name }}</div></th>
                <th ng-repeat="question in guidance.questions" ng-show="!hideQuestions"><div class="text-center">{{question.question}}</div></th>
            </thead>
            <tbody>
                <tr>
                    <th></th><!-- Empty table header-->
                    <th></th><!-- Empty table header-->
                    <th></th><!-- Empty table header-->
                    <th></th><!-- Empty table header-->
                    <th></th><!-- Empty table header-->
                    <th></th><!-- Empty table header-->
                    <th></th><!-- Empty table header-->
                    <th ng-repeat="tag in filteredTags" ng-show="!hideTags">
                        <p class="text-center">{{ filteredStats[tag.data._id].type === 'text' ? '' : filteredStats[tag.data._id].count}}</p>
                    </th>
                    <th ng-repeat="question in guidance.questions" ng-show="!hideQuestions"></th><!-- Empty table header-->
                </tr>
                <tr ng-repeat-start="user in declared | filter:ExcludeAccepted() | orderBy:sorter:reverse">
                    <td><a ui-sref="admin.candidates.detail({_id: user._id})">Detail</a></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.category }}</td>
                    <td>{{ user.searchStage }}</td>
                    <td><div class="text-center">{{ user.points[1] === 0 ? '-' : user.score + '%' }}</div></td>
                    <td><div class="text-center">{{ user.interest === 0 ? 'N/A' : user.interest }}</div></td>
                    <td class="text-center" style="min-width: 100px; max-width: 100px; font-weight: 600">
                        <input class="text-center"  placeholder="{{ user.adminOverride}} " ng-model="user.adminOverride" ng-click="edit(user)" ng-class="isOverridden(user)" type="number" min="1" max="4" tooltip="TOOLTIP!" tooltip-placement="right" tooltip-trigger="focus"></input>
                    </td>

                    <td class="text-center" style="min-width: 100px; max-width: 100px; font-weight: 600">
                      <p class="text-center"  >
                        <span ng-class="{'starStyle' : user.star === true} " class="glyphicon glyphicon-star" ng-click="adjustGlyphHighlighting('star', $index, user)"></span>
                        <span ng-class="{'upVoteStyle' : user.upVote === true} "class="glyphicon glyphicon-thumbs-up" ng-click=" adjustGlyphHighlighting('upVote', $index, user)"></span>
                        <span ng-class="{'downVoteStyle' : user.downVote === true} "class="glyphicon glyphicon-thumbs-down" ng-click=" adjustGlyphHighlighting('downVote', $index, user)"></span>
                        <span ng-class="{'noGoStyle' : user.noGo === true} " class="glyphicon glyphicon-remove" ng-click=" adjustGlyphHighlighting('noGo', $index, user)"></span>
                      </p>
                    </td>

                    <td ng-repeat="tag in filteredTags" ng-show="!hideTags">
                        <p class="text-center"><span class="glyphicon" ng-class="calculateFit(tag.importance, filteredStats[tag.data._id].type, tag.value, user.tags[tag.data._id])[0]" ng-style="{color: calculateFit(tag.importance, filteredStats[tag.data._id].type, tag.value, user.tags[tag.data._id])[1]}"></span></p>
                    </td>
                    <td ng-repeat="answerObject in user.answers" ng-show="!hideQuestions"><p class="text-center">{{answerObject.answer || 'N/A'}}</p></td>
                </tr>
                <!-- repeat everything 10th row -->
                <tr ng-repeat-end ng-if="$index > 0 && $index % 10 === 0 && !$last">
                    <th></th><!-- Empty table header-->
                    <th><div class="text-left">Name</div></th>
                    <th><div class="text-left">Group</div></th>
                    <th><div class="text-left">Stage</div></th>
                    <th><div class="text-center">Match</div></th>
                    <th><div class="text-center">Interest</div></th>
                    <th><div class="text-center">Admin Override</div></th>
                    <th><div class="text-center pointer"> Scheduling Preference <span></span></div></th>
                    <th ng-repeat="tag in filteredTags" ng-show="!hideTags"><div class="text-center">{{ tag.data.name }}</div></th>
                    <th ng-repeat="question in guidance.questions" ng-show="!hideQuestions"><div class="text-center">{{question.question}}</div></th>
                </tr>
            </tbody>
        </div>
    </div>
</div>
