<h3 class="body-heading">New Opportunity</h3><br>
<h4 class="body-tagline">Create a new opportunity</h4>

<div class="section container-fluid">
    <div class="row">
        <span ng-click="save()">Save New Opportunity</span>
        <span>Basic Information</span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            Enter a brief description for the opportunity:
            <input type="text" ng-readonly="readOnly" ng-model="basic.description">
        </div>
        <div class="col-xs-6">
            <table class="table">
            <tr>
                <td>Company:</td>
                <td><select ng-model="basic.company" ng-options="company.name for company in companies"></select></td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input type="text" ng-readonly="readOnly" ng-model="basic.title"></td>
            </tr>
            <tr>
                <td>Active:</td>
                <td><input type="text" ng-readonly="readOnly" ng-model="basic.active"></td>
            </tr>
            <tr>
                <td>Group:</td>
                <td><select ng-model="basic.category" ng-options="category.name for category in categories"></select></td>
            </tr>
            <tr>
                <td>Links:</td>
                <td>
                    <div ng-repeat="link in basic.links">
                        <input type="text" ng-readonly="readOnly" ng-model="link.url" placeholder="Add new question here">
                        <span ng-show="!readOnly" ng-click="removeFrom(basic.links, link, 'url')">Remove</span>
                    </div>
                    <span ng-show="!readOnly" ng-click="addTo(basic.links, {url: ''})">+ Add New</span>
                </td>
            </tr>
            <tr>
                <td>Internal Notes:</td>
                <td><input type="text" ng-readonly="readOnly" ng-model="basic.internal"></td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="row">
        <span>Guidance Parameters</span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table">
                <tr>
                    <td>Extra Questions</td>
                    <td>
                        <div ng-repeat="question in guidance.questions">
                            <input ng-readonly="readOnly" ng-model="question.question">
                            <span ng-show="!readOnly" ng-click="removeFrom(guidance.questions, question, 'question')">Remove</span>
                        </div>
                        <span ng-show="!readOnly" ng-click="addTo(guidance.questions, {question: ''})">+ Add New</span>
                    </td>
                </tr>
            </table>            
        </div>
        <div class="col-xs-6">
            <table class="table">
                <tr>
                    <td>Tags Associated</td>
                    <td>
                        <div ng-repeat="tagView in guidance.tags">
                            <select ng-model="tagView.data" ng-options="tag.name for tag in tags"></select>
                            <input ng-readonly="readOnly" ng-model="tagView.value">
                            <span ng-show="!readOnly" ng-click="removeFrom(guidance.tags, tagView, 'name')">Remove</span>
                        </div>
                        <span ng-show="!readOnly" ng-click="addTo(guidance.tags, {name: '', value: 0})">+ Add New</span>
                    </td>
                </tr>
            </table>  
        </div>
    </div>
</div>