<h3 class="body-heading">New Opportunity</h3><br>
<h4 class="body-tagline">Create a new opportunity</h4>

<div class="section container-fluid">
    <div class="row">
        <span ng-click="create()">+ Save Opportunity</span>
        <span>Basic Information</span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            Enter a brief description for the opportunity below:<br>
            <input type="textbox" value="{{basic.description}}">
        </div>
        <div class="col-xs-6">
            <table>
            <tr>
                <td>Company:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.name}}"></td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.title}}"></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.location}}"></td>
            </tr>
            <tr>
                <td>URL:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.url}}"></td>
            </tr>
            <tr>
                <td>Active:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.active}}"></td>
            </tr>
            <tr>
                <td>Group:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.group}}"></td>
            </tr>
            <tr>
                <td>Learn More:</td>
                <td>
                    <div ng-repeat="link in basic.learnMore">
                        <input type="text" ng-readonly="readOnly" ng-model="link" placeholder="Add new question here">
                        <span ng-show="!readOnly" ng-click="removeFrom(basic.learnMore, link)">Remove</span>
                    </div>
                    <span ng-show="!readOnly" ng-click="addTo(basic.learnMore, '')">+ Add New</span>
                </td>
            </tr>
            <tr>
                <td>Internal Notes:</td>
                <td><input type="text" ng-readonly="readOnly" value="{{basic.internal}}"></td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div class="section container-fluid">
    <div class="row">
        <span>Guidance Parameters</span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table>
                <tr>
                    <td>Extra Questions</td>
                    <td>
                        <div ng-repeat="question in guidance.questions">
                            <input ng-readonly="readOnly" value="{{question}}">
                            <span ng-show="!readOnly" ng-click="removeFrom(guidance.questions, question)">Remove</span>
                        </div>
                        <span ng-show="!readOnly" ng-click="addTo(guidance.questions, '')">
                    </td>
                </tr>
            </table>            
        </div>
        <div class="col-xs-6">
            <table>
                <tr>
                    <td>Tags Associated</td>
                    <td>
                        <div ng-repeat="tag in guidance.tags">
                            <input ng-readonly="readOnly" value="{{tag.name}}">
                            <input ng-readonly="readOnly" value="{{tag.value}}">
                            <span ng-show="!readOnly" ng-click="removeFrom(guidance.tags, tag, 'name')">
                        </div>
                        <span ng-show="!readOnly" ng-click="addTo(guidance.tags, {name: '', value: 0})">
                    </td>
                </tr>
            </table>  
        </div>
    </div>
</div>