<div ui-view>
    <h3 class="body-heading">Opportunities</h3><br>
    <h4 class="body-tagline">View, create or edit job opportunities</h4>

    <div class="section container-fluid" ng-repeat="(groupName, group) in groups">
        <div class="row">
            <span><a ui-sref="admin.opportunities.new">+ New Opportunity</a></span>
            <span>{{ groupName }}</span>
        </div>
        <div class="row">
            <table class="table">
            <thead>
                <tr>
                    <th></th><!-- empty table header -->
                    <th>Company</th>
                    <th>Title</th>
                    <th>Declared Candidates</th>
                    <th>Interest >= 3</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(name, opportunity) in group">
                    <td><a ui-sref="admin.opportunities.detail({_id: opportunity._id})">Detail Link</a></td>
                    <td>{{ opportunity.company }}</td>
                    <td>{{ opportunity.title }}</td>
                    <td>{{ opportunity.declared }}</td>
                    <td>{{ opportunity.interested }}</td>
                    <td>{{ opportunity.description }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>