<div ui-view ng-init="sorter = 'company'">
    <div class="content-header">
        <div class="content-header-block text-left">
            <span class="content-action" ui-sref="admin.opportunities.new">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Create New Opportunity</span>
            </span>
        </div>
        <div class="content-header-block">
            <div class="content-title">Opportunities</div>
            <div class="content-tagline">View, create or edit job opportunities</div>
        </div>
    </div>

    <div class="content-section container-fluid" ng-repeat="(groupName, group) in groups">
        <div class="row">
        <div class="tablebox-title">{{ groupName }}</div>
        <table class="tablebox">
        <thead>
            <tr class="tablebox-header">
                <th width="20%" class="pointer" ng-click="sorter = 'company'; reverse = !reverse">Company</th>
                <th width="20%" class="pointer" ng-click="sorter = 'title'; reverse = !reverse">Title</th>
                <th width="7%" class="pointer" ng-click="sorter = 'approved'; reverse = !reverse">Public?</th>
                <th width="9%" class="pointer" ng-click="sorter = 'declared'; reverse = !reverse">Declared</th>
                <th width="9%" class="pointer" ng-click="sorter = 'interested'; reverse = !reverse">Interest 3+</th>
                <th width="34%" class="pointer" ng-click="sorter = 'internalNotes'; reverse = !reverse">Internal Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tablebox-content" ng-repeat="opportunity in group | orderBy:sorter:reverse" ui-sref="admin.opportunities.detail({_id: opportunity._id})">
                <td>{{ opportunity.company }}</td>
                <td>{{ opportunity.title }}</td>
                <td><input type="checkbox" ng-model="opportunity.approved" ng-disabled="true"></td>
                <td>{{ opportunity.declared }}</td>
                <td>{{ opportunity.interested }}</td>
                <td>{{ opportunity.internalNotes }}</td>
            </tr>
        </tbody>
        </table>
    </div>

</div>


