<h2>Admin Template</h2>

<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="admin">Admin Navigation</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a ui-sref="admin.account">Account</a></li>
    <li><a ui-sref="admin.candidates">Candidates</a></li>
    <li><a ui-sref="admin.companies">Companies</a></li>
    <li><a ui-sref="admin.messages">Messages</a></li>
    <li><a ui-sref="admin.opportunities">Opportunities</a></li>
    <li><a ui-sref="admin.scheduling">Scheduling</a></li>
    <li><a ui-sref="admin.tags">Tags</a></li>
  </ul>
</nav>

<div ui-view></div>