<div><img class="sidebar-logo" src="/assets/images/logo.png"></div>

<div id="sidebar-dashboard" class="sidebar-item pointer" ui-sref="admin.dashboard">
    <span>Dashboard</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-dashboard"></span>
</div>

<!-- <div id="sidebar-profile" class="sidebar-item pointer" ui-sref="admin.account">
    <span>Profile</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-cog"></span>
</div> -->

<div id="sidebar-opportunities" class="sidebar-item pointer" ui-sref="admin.opportunities.all">
    <span>Opportunities</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-briefcase"></span>
</div>

<div id="sidebar-companies" class="sidebar-item pointer" ui-sref="admin.companies.all">
    <span>Companies</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-tower"></span>
</div>

<div id="sidebar-candidates" class="sidebar-item pointer" ui-sref="admin.candidates.all">
    <span>Candidates</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-user"></span>
</div>

<div id="sidebar-matches" class="sidebar-item pointer" ui-sref="admin.matches.all">
    <span>Matches</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-th"></span>
</div>

<div id="sidebar-tags" class="sidebar-item pointer" ui-sref="admin.tags.all">
    <span>Tag</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-tags"></span>
</div>

<div class="sidebar-logout pointer" ui-sref="login">
    <span>Logout</span>
    <span class="sidebar-glyphicon glyphicon glyphicon-off"></span>
</div>
