<div ui-view>
    <div class="content-header">
        <div class="content-header-block text-left">
            <span class="content-action" ui-sref="admin.matches.schedule">
                <span class="glyphicon glyphicon-calendar"></span>
                <span>See Schedule</span>
            </span>
            <span class="content-action" ng-click="downloadData()">
                <span class="glyphicon glyphicon-download"></span>
                <span>Download Matches</span>
            </span>
        </div>
        <div class="content-header-block">
            <div class="content-title">Matches</div>
            <div class="content-tagline">View or edit the match grid</div>
        </div>
    </div>
</div>
