<p>Sorry, this schedule grid is not working yet. </p>
<h3>Coming soon! </h3>

<!-- <div class="gridStyle" ng-grid="gridOptions">

</div> -->
<!-- <ng-react-grid grid="grid"></ng-react-grid> -->
<!-- <div>{{ mySelections[0] }}</div>
    <div class="content-header">
        <div class="content-header-block text-left">
            <span class="content-action" ui-sref="admin.matches.all">
                <span class="glyphicon glyphicon-th"></span>
                <span>See Matches</span>
            </span>
            <span class="content-action" ng-click="downloadSchedule()">
                <span class="glyphicon glyphicon-download"></span>
                <span>Download Schedule</span>
            </span>
        </div>
        <div class="content-header-block">
            <div class="content-title">Scheduling</div>
            <div class="content-tagline">View the scheduling grid</div>
        </div>
    </div> -->

    <!--<div class="content-section container-fluid">
        <div class="row">
        <div class="gridbox-title">Scheduling Grid</div>
        <div class="content-scrollable ">
        <table class="gridbox table table-striped">
        <thead>
            <tr class="gridbox-header">
                <th></th>
                <th ng-repeat="slot in slots">
                    {{ slot.time }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="gridbox-content" ng-repeat="(oppId, opportunity) in schedule">
                <th ng-model="opportunityTooltip"><span tooltip-placement="right" tooltip-html-unsafe="{{opportunityTooltip}}">{{ opportunities[oppId].company.name }}: {{ opportunities[oppId].jobTitle }}</span></th>
                <td ng-repeat="candidate in opportunity track by $index" >
                    <span style="font-weight: 200;font-size:14px;" tooltip-placement="right" tooltip-html-unsafe="{{candidateTooltip}}">{{ userMap[candidate.id] }}</span><br>
                    <div class="item">
                        {{ candidate.interest }}
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
    </div>

    <div class="content-section container-fluid">
        <div class="row">
        <div class="gridbox-title">Scheduling Grid</div>
        <div class="content-scrollable table-responsive">
        <table class="gridbox">
        <thead>
            <tr class="gridbox-header">
                <th></th>
                <th ng-repeat="(user, userName) in userMap">
                    <span style="font-size: 14px">{{ userName }}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="gridbox-content" ng-repeat="(oppId, opportunity) in schedule">
                <th>{{ opportunities[oppId].company.name }}</th>
                <td ng-repeat="round in allRoundNumForCandidate[oppId] track by $index">{{ round }}<td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
    </div>
 -->
