<h1>Company Dossier</h1>

<p>Company Information</p>

<table class="table table-striped table-condensed">
    <tr>
        <th>Company Name:</th>
        <td>{{company.name}}</td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>{{company.city}}</td>
    </tr>
    <tr>
        <th>URL:</th>
        <td>{{company.url}}</td>
    </tr>
    <tr>
        <th>Tagline:</th>
        <td>{{company.tagline}}</td>
    </tr>
    <tr>
        <th>Brief Description:</th>
        <td>{{company.briefDescription}}</td>
    </tr>

    <tr>
        <th>Learn More</th>
        <td>{{company.links[0]}}</td>
    </tr>

</table>

<p>Associated Opportunities</p>

<div class="section container-fluid" ng-show="opportunities">
    <div class="row">
        <table>
        <thead>
            <tr>
                <th></th><!-- empty table header -->
                <th>Name</th>
                <th>Interested Candidates</th>
                <th>URL</th>
                <th>Title</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="opportunity in opportunities">
                <td><a ui-sref="users.opportunities.detail({_id: opportunity._id})">Detail Link</a></td>
                <td>{{ opportunity.company.name }}</td>
                <td>{{ opportunity.userInterest }}</td>
                <td>{{ opportunity.links[0] }}</td>
                <td>{{ opportunity.jobTitle }}</td>
                <td>{{ opportunity.company.city }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>