<div><img class="sidebar-logo" src="/assets/images/logo.png"></div>
<!-- <div class="sidebar-item" id="sidebar-dashboard">
    <a ui-sref="users.dashboard">Dashboard</a>
</div> -->
<div class="sidebar-item" id="sidebar-account">
    <a ui-sref="users.account">Profile</a>
    <span class="sidebar-glyphicon glyphicon glyphicon-user"></span>
</div>
<div class="sidebar-item" id="sidebar-opportunities">
    <a ui-sref="users.opportunities.all">Opportunities</a>
    <span class="sidebar-glyphicon glyphicon glyphicon-briefcase"></span>
</div>
<div class="sidebar-logout">
    <a ui-sref="login">Logout</a>
    <span class="sidebar-glyphicon glyphicon glyphicon-off"></span>
</div>
