<div><img class="sidebar-logo" src="/assets/images/logo.png"></div>
<!-- <div class="sidebar-item" ui-sref-active="sidebar-active">
    <a ui-sref="users.dashboard">Dashboard</a>
</div> -->
<div class="sidebar-item" ui-sref-active="sidebar-active">
    <a ui-sref="users.account">Profile</a>
    <span class="sidebar-glyphicon glyphicon glyphicon-user"></span>
</div>
<!-- <div class="sidebar-item" ui-sref-active="sidebar-active">
    <a ui-sref="users.opportunities.all">Opportunities</a>
</div> -->
<div class="sidebar-logout" ui-sref-active="sidebar-active">
    <a ui-sref="login">Logout</a>
    <span class="sidebar-glyphicon glyphicon glyphicon-off"></span>
</div>
