<h3>Admin.Candidates.Detail Template</h3>

<form ng-submit="update(user)">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="detail"></th>
                <th class="name" >Name</th>
                <th class="github" >Github</th>
                <th class="email" >Email</th>
                <th class="location" >Location</th>
                <th class="stage" >Job Search Stage</th>
                <th>Attending</th>
            </tr>
        </thead>
        <tr>
            <td class="readOnly">
                <button type="button" ng-init="readOnly = true" ng-model="readOnly" ng-click="readOnly=!readOnly">
                    edit
                </button>
            </td>
            <td class="name" >
                <input type="text" ng-readonly="readOnly" ng-model="user.name" value="{{user.name}}"/>
            </td>
            <td class="github" >
                <input type="text" ng-readonly="readOnly" ng-model="user.github" value="{{user.github}}"/>
            </td>
            <td class="email" >
                <input type="text" ng-readonly="readOnly" ng-model="user.email" value="{{user.email}}"/>
            </td>
            <td class="location" >
                <input type="text" ng-readonly="readOnly" ng-model="user.city" value="{{user.city}}"/>
            </td>
            <td class="searchStage">
                <select ng-model="user.searchStage" ng-disabled="readOnly">
                    <option value="Out">Opted Out</option>
                    <option value="Early">Early</option>
                    <option value="Mid/Late">Mid/Late</option>
                    <option value="Closing">Closing</option>
                    <option value="Accepted">Accepted</option>
                </select>
            </td>
            <td>
                <input type="checkbox" ng-disabled="readOnly" ng-model="user.attending">
            </td>
        </tr>
    </table>

    <table class="table">
        <h1>Add Private Tags</h1>
        <select ng-model="addTag" ng-options="tag.name for tag in tags.private | filter:{value: null}"></select>
        <button type="button" ng-click="addPrivateTag(addTag)">+ Add Tag</button>
        <tr ng-repeat="tag in tags.private | filter:filter">
            <td>{{tag.name}}</td>

            <td ng-show="tag.type === 'scale'"><select ng-model="tag.value" ng-options="number for number in [1, 2, 3, 4]"></select></td>
            <td ng-show="tag.type === 'binary'"><select ng-model="tag.value" ng-options="response for response in ['yes', 'no']"></select></td>
            <td ng-show="tag.type === 'text'"><input ng-model="tag.value"></td>

            <td><button type="button" ng-click="removePrivateTag(tag)">Remove</button></td>
        </tr>
    </table>

    <div>
        <h1>Change Categories</h1>
        <div ng-show="!creatingCategory">
            <select ng-model="user.category" ng-options="category.name for category in categories | orderBy:'name'"></select> or
            <button type="button" ng-click="creatingCategory = true">Add New Category</button>
        </div>
        <div ng-show="creatingCategory">
            <input ng-model="newCategory" placeholder="Enter Category Name">
            <button type="button" ng-click="addNewCategory(newCategory)">Save</button>
            <button type="button" ng-click="creatingCategory = false">Cancel</button>
        </div>
    </div>

    <div class="section container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <table class="table">
                    <tr>
                        <td>Linkedin:</td>
                        <td>
                            <input type="text" ng-readonly="readOnly" ng-model="user.linkedin" value="{{user.linkedin}}">
                        </td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <input type="text" ng-readonly="readOnly" ng-model="user.state" value="{{user.state}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>
                            <input type="text" ng-readonly="readOnly" ng-model="user.country" value="{{user.country}}">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- <div class="col-xs-6">
                <table class="table">
                    <tr ng-repeat="tag in user.tags">
                        <td>{{tag.tag.name}}:</td>
                        <td>
                            <input type="text" ng-readonly="readOnly" ng-model="tag.value">
                        </td>
                    </tr>
                </table>
            </div> -->
        </div>
    </div>
    <input type="submit">
</form>

<table class="table">
    <thead>
        <th class="pointer" ng-click="sorter='companyName'; reverse=!reverse">Company</th>
        <th class="pointer" ng-click="sorter='jobTitle'; reverse=!reverse">Job Title</th>
        <th class="pointer" ng-click="sorter='category'; reverse=!reverse">Category</th>
        <th class="pointer" ng-click="sorter='userInterest'; reverse=!reverse">Interest</th>
    </thead>
    <tr ng-repeat="match in matches | orderBy:sorter:reverse">
        <td>{{match.companyName}}</td>
        <td>{{match.jobTitle}}</td>
        <td>{{match.category}}</td>
        <td>{{match.userInterest ? match.userInterest : 'N/A'}}</td>
    </tr>
</table>
