<div class="content-header">
    <div class="content-header-block text-left">
        <!-- buttons -->
    </span>
    </div>
    <div class="content-header-block">
        <div class="content-title">{{ user.name }}</div>
        <div class="content-tagline">Edit or View Candidate in Detail</div>
    </div>
</div>

<div class="row">
<form ng-submit="update(user)">
    <div class="content-section container-fluid">
        <div class="tablebox-title">Candidate Basic Info</div>
        <table class="tablebox">
            <thead>
                <tr class="tablebox-header">
                    <th class="name" >Name</th>
                    <th class="github" >Github</th>
                    <th class="email" >Email</th>
                    <th class="location" >Location</th>
                    <th class="stage" >Job Search Stage</th>
                </tr>
            </thead>
            <tr class="formbox formbox-basic">
                <td class="name" >
                    <input type="text" ng-readonly="readOnly" ng-model="user.name" value="{{user.name}}"/>
                </td>
                <td class="github" >
                    <input type="text" ng-readonly="readOnly" ng-model="user.github" value="{{user.github}}"/>
                </td>
                <td class="email" >
                    <input type="text" ng-readonly="readOnly" ng-model="user.email" value="{{user.email}}"/>
                </td>
                <td class="location" >
                    <input type="text" ng-readonly="readOnly" ng-model="user.city" value="{{user.city}}"/>
                </td>
                <td class="searchStage">
                    <select ng-model="user.searchStage" ng-disabled="readOnly">
                        <option value="Out">Opted Out</option>
                        <option value="Early">Early</option>
                        <option value="Mid/Late">Mid/Late</option>
                        <option value="Closing">Closing</option>
                        <option value="Accepted">Accepted</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
        <div class="tablebox-title">Add Private Tags</div>
        <table class="tablebox">
            <tr class="tablebox-header formbox">
                <td class="text-center">
                <select ng-model="addTag" ng-options="tag.name for tag in tags.private | filter:{value: null}"></select>
                <button class="content-button" type="button" ng-click="addPrivateTag(addTag)">✚ Add Tag</button>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="tablebox-content" ng-repeat="tag in tags.private | filter:filter">
                <td>{{tag.name}}</td>

                <td ng-show="tag.type === 'scale'"><select ng-model="tag.value" ng-options="number for number in [1, 2, 3, 4]"></select></td>
                <td ng-show="tag.type === 'binary'"><select ng-model="tag.value" ng-options="response for response in ['yes', 'no']"></select></td>
                <td ng-show="tag.type === 'text'"><input ng-model="tag.value"></td>

                <td><button class="content-button" type="button" ng-click="removePrivateTag(tag)">Remove</button></td>
            </tr>
        </table>

    </div>

    <div class="content-section container-fluid">
        <div class="tablebox-title">Change Categories</div>
        <div class="formbox formbox-basic text-center" ng-show="!creatingCategory">
            <select ng-model="user.category" ng-options="category.name for category in categories | orderBy:'name'"></select>
            <span class="type-padded">or</span>
            <button class="content-button" type="button" ng-click="creatingCategory = true">✚ Add New Category</button>
        </div>
        <div class="formbox formbox-basic text-center" ng-show="creatingCategory">
            <input ng-model="newCategory" placeholder="Enter Category Name" ng-keypress="interceptCategory($event)">
            <button class="content-button" type="button" ng-click="addNewCategory(newCategory)">Save</button>
            <button class="content-button" type="button" ng-click="creatingCategory = false">Cancel</button>
        </div>

    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">Other Information</div>
        <table class="formbox formbox-basic">
            <tr>
                <th>Linkedin</th>
                <td>
                    <input type="text" ng-readonly="readOnly" ng-model="user.linkedin" value="{{user.linkedin}}">
                </td>
            </tr>
            <tr>
                <th>State</th>
                <td>
                    <input type="text" ng-readonly="readOnly" ng-model="user.state" value="{{user.state}}">
                </td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    <input type="text" ng-readonly="readOnly" ng-model="user.country" value="{{user.country}}">
                </td>
            </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-footer">
            <input type="submit" class="content-button" value="{{submitText}}">
        </div>
    </div>
</form>

    <div class="content-section container-fluid">
        <div class="formbox-title">Interested Opportunities</div>
        <table class="tablebox">
            <thead>
                <tr class="tablebox-header">
                <th class="pointer" ng-click="sorter='companyName'; reverse=!reverse">Company</th>
                <th class="pointer" ng-click="sorter='jobTitle'; reverse=!reverse">Job Title</th>
                <th class="pointer" ng-click="sorter='category'; reverse=!reverse">Category</th>
                <th class="pointer" ng-click="sorter='userInterest'; reverse=!reverse">Interest</th>
                </tr>
            </thead>
            <tr class="tablebox-content" ng-repeat="match in matches | orderBy:sorter:reverse">
                <td>{{match.companyName}}</td>
                <td>{{match.jobTitle}}</td>
                <td>{{match.category}}</td>
                <td>{{match.userInterest ? match.userInterest : 'N/A'}}</td>
            </tr>
        </table>
    </div>

</div><!-- end row-->


