<div class="content-header">
    <div class="content-header-block text-left">
        <!-- buttons -->
    </div>
    <div class="content-header-block">
        <div class="content-title">New Candidates</div>
        <div class="content-tagline">Invite candidates via e-mail</div>
    </div>
</div>

<div class="dashbox-title">Copy and paste candidate e-mails</div>
<div class="formbox dashbox dashbox-content">
    <form name="emailForm" novalidate="novalidate">
        <textarea style="width: 100%;" rows="5" name="emails" ng-init="" ng-Model="emails" ng-pattern="emailCSVPattern()" required> </textarea>
        <div class="tablebox-tag text-center" ng-show="showAlert">{{alertMessage}}</div><br>
        <div><button ng-disabled="emailForm.$invalid" ng-click="sendEmails(emails); hideMessage()" class="content-button" >✎ Invite candidates</button></div>
    </form>
</div>

<h1>Assign Category</h1>
<div ng-show="!creatingCategory">
    <select ng-model="category" ng-options="category.name for category in categories | orderBy:'name'"></select> or
    <button type="button" ng-click="creatingCategory = true">Add New Category</button>
</div>
<div ng-show="creatingCategory">
    <input ng-model="newCategory" placeholder="Enter Category Name">
    <button type="button" ng-click="addNewCategory(newCategory)">Save</button>
    <button type="button" ng-click="creatingCategory = false">Cancel</button>
</div>