<form name="emailForm" novalidate="novalidate" >
        <table class="table table-striped table-condensed table-hover table-invite">
            <tr>
                <td width="50%" class="detail">
                    <textarea class="textbox-textarea" name="emails" ng-init="" ng-Model="emails" ng-pattern="emailCSVPattern()"> </textarea>
                    </td>
                <td width="50%" class="name">
                    <p>Invite candidates here</p>
                    <p>Input one or more e-mail addresses (comma separated) and press invite</p>
                    <button ng-disabled="emailForm.$invalid" ng-click="sendEmails(emails); hideMessage()" class="btn btn-primary" >Invite</button>
                    <div ng-show="showAlert">{{alertMessage}}</div>
                </td>
            </tr>
        </table>
    </form>
<div ui-view></div>
