<h1>Tags Template</h1>

<form>
    <button ng-click="add()" type="button">+ Add Tag</button>
    <table class="table">
        <tr>
            <th>Question</th>
            <th>Internal Label</th>
            <th>Type</th>
            <th>isPublic</th>
            <th></th>
        </tr>
        <tr ng-repeat="tag in tags track by $index" ng-init="tag.readOnly = true">
            <td><input type="textbox" ng-model="tag.name" ng-readonly="tag.readOnly"></td>
            <td><input type="text" ng-model="tag.label" ng-readonly="tag.readOnly"></td>
            <td>
                <select name="type" ng-model="tag.type" ng-disabled="tag.readOnly">
                    <option value="scale">1-4 Scale</option>
                    <option value="binary">Yes/No</option>
                    <option value="text">Free Response</option>
                </select>
            </td>
            <td><input type="checkbox" ng-model="tag.isPublic" ng-disabled="tag.readOnly"></td>
            <td>
                <button type="button" ng-click="tag.readOnly = false" ng-show="tag.readOnly">Edit</button>
                <button type="button" ng-click="tag.readOnly = true; save(tag)" ng-hide="tag.readOnly">Save</button>
                <button type="button" ng-click="remove(tag, $index)" ng-show="!tag.readOnly">Remove</button>
            </td>
        </tr>
    </table>
</form>