<div class="content-header">
    <div class="content-header-block text-left">
        <!-- buttons -->
    </span>
    </div>
    <div class="content-header-block">
        <div class="content-title">Main Dashboard</div>
        <div class="content-tagline">Fill out new opportunities</div>
    </div>
</div>

<!--
        <div ng-show="matches.length > 0" class="content-tagline">{{ matches.length }} opportunities left to fill out</div>
        <div ng-show="matches.length === 0" class="content-tagline">No more opportunities to fill out</div>
-->

<div class="row">
    <div class="content-section container-fluid">
        <div ng-show="matches.length > 0" class="formbox-title">{{ matches.length }} opportunities left to fill out</div>
        <div ng-show="matches.length === 0" class="formbox-title">No more opportunities to fill out</div>        
        <table class="tablebox tablebox-basic">
            <tr class="tablebox-content tablebox-nohover" ng-if="opportunity.links[0]">
                <td>Fill out your preferences for any new or remaining opportunities below!</td>
            </tr>
        </table>
    </div>

    <div class="content-section container-fluid">
        <div class="formbox-title">
            <table class="formbox-footer-pure">
                <tr>
                    <td width="60%">
                    <img class="box-image" src="{{ opportunity.company.media[0].url }}">
                    </td>
                    <td class="text-left" style="height: 100%">
                        <div class="float-container">
                            <div class="float-container-row">
                            <div class="float-top">
                                <span class="type-header text-left">{{ opportunity.company.name }}</span><br>
                                <span class="type-subtitle" ng-show="opportunity.company.tagline">{{ opportunity.company.tagline }}<br></span>
                                <span class="type-subtitle">{{ opportunity.company.city }} {{ opportunity.company.country }}</span>
                            </div>
                            </div>
                            <br>
                            <div class="float-container-row">
                            <div class="float-bottom">
                                <span class="type-normal">{{ opportunity.company.description }}</span><br>
                                <div class="type-linkbox" ng-repeat="link in opportunity.company.links">
                                    <span ng-show="$first">Learn more:</span><br>
                                    <span><a ng-href="{{link.url}}">{{link.url}}</a></span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="content-section container-fluid">
    </div>

    <div class="content-section container-fluid">
    </div>





</div><!-- end row -->

<div ng-show="opportunity && matches.length">
    <div class="row">
    <div class="section container-fluid">
        <div class="row">
            <span>{{ opportunity.company.name }}: {{ opportunity.jobTitle }}</span>
        </div>
        <div class="row">
            <div class="col-xs-6" style="white-space:pre-wrap">{{ opportunity.description }}</div>
            <div class="col-xs-6">
                <table class="table">
                    <tr>
                        <td>Company:</td>
                        <td>{{opportunity.company.name}}</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>{{opportunity.jobTitle}}</td>
                    </tr>
                    <tr>
                        <td>URL:</td>
                        <td>{{opportunity.links[0].url}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <form ng-submit="submit()">
            <h2>Interest</h2>
            <input type="radio" id="radio1" ng-value="1" name="interest" ng-model="match.userInterest" required>
            <label for="radio1" type="radio" id="radio1">1</label>
            <input type="radio" id="radio2" ng-value="2" name="interest" ng-model="match.userInterest" required>
            <label for="radio2" type="radio" id="radio2">2</label>
            <input type="radio" id="radio3" ng-value="3" name="interest" ng-model="match.userInterest" required>
            <label for="radio3" type="radio" id="radio3">3</label>
            <input type="radio" id="radio4" ng-value="4" name="interest" ng-model="match.userInterest" required>
            <label for="radio4" type="radio" id="radio4">4</label>

            <div ng-show="questions">
                <h2>Questions</h2>
                <div ng-repeat="question in questions | filter:{active:true}">
                    <h3>{{question.question}}</h3>
                    <input ng-model="answers[question.index].answer" required>
                </div>
            </div>

            <input type="submit" value="{{submitText}}" ng-disabled="pendingRequests === 0">
        </form>
    </div>

    <div class="col-md-6">
        <h1>Guidance ({{ score + '%' }} Match)</h1>
        <div ng-repeat="tags in processedTags">
            <h1>{{$first ? 'Must Have' : 'Nice to Have'}}</h1>
            <div ng-repeat="tagType in tags">
                <table class="table table-condensed" ng-show="tagType">
                    <th></th>
                    <th>Your Value</th>
                    <th>Their Value</th>
                    <th>Comparison</th>
                    <tr ng-repeat="tag in tagType">
                        <td>{{tag.name}}</td>
                        <td>{{tag.userValue}}</td>
                        <td>{{tag.value}}</td>
                        <td><span class="glyphicon" ng-class="calculateFit(tag.importance, tag.value, tag.userValue)[0]" ng-if="tag.type !== 'text'" ng-style="{color: calculateFit(tag.importance, tag.value, tag.userValue)[1]}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
