<div class="login-splash">
  <div class="login-container text-right">
    <span class="login-subtitle">Less work. More jobs.</span><br>
    <span class="login-title">jobQuery</span><br><br><br>
    <img class="login-subtitle" src="assets/images/totally_unsuspicious_image.png" width="250">
  </div>
  <div class="login-container">
    <form>
    <div class="login-box">
      <span class="login-label">E-mail</span><br>
      <input type="input" class="login-field" name="e-mail" ng-enabled="true">
    </div>
    <div class="login-box">
      <span class="login-label">Password</span><br>
      <input type="input" class="login-field" name="password">
    </div>
    <div class="login-box">
      <input type="submit" class="login-button" value="Login">
    </div>
    </form>
  </div>
  <div class="login-bg"></div>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
</div>