<div class="container-fluid login-splash">
  <div class="row">
    <div class="col-xs-6">
      <span class="login-subtitle">Less work, more jobs.</span>
      <span class="login-title">jobQuery</span>
    </div>
    <div class="col-xs-6">
      <div class="login-box">
        <span class="login-label">E-mail</span><br>
        <input type="input" class="login-field" name="e-mail">
      </div>
      <div class="login-box">
        <span class="login-label">Password</span><br>
        <input type="input" class="login-field" name="password">
      </div>
      <div class="login-box">
        <input type="submit" value="Login">
      </div>
    </div>
  </div>
</div>