<div class="login-splash">
        <div class="login-container text-right">
                <span class="login-subtitle">Less work. More jobs.</span><br>
                <span class="login-title">jobQuery</span>
        </div>
        <div class="login-container">
                <form>
                <div class="login-box" ng-show="success">
                  <span class="login-incorrect">Password reset successfully. <a ui-sref="login">Login Again.</a></span>
                </div>
                <div class="login-box">
                    <span class="login-label">Password</span><br>
                    <input type="password" class="login-field" name="password" ng-model="password" autofocus>
                </div>
                <div class="login-box">
                        <span class="login-label">Confirm Password</span><br>
                        <input type="password" class="login-field" name="confirmPassword" ng-model="passwordConfirmation">
                </div>
                <div class="login-box">
                        <input type="submit" value="Update Password" class="login-button" ng-value="submitting ? 'Updating Password...' : 'Update Password'" ng-disabled="submitting" ng-click="updatePassword(password, passwordConfirmation)">
                </div>
                </form>
        </div>
        <div class="login-bg"></div>
</div>
