<div class="login-splash">
    <div class="login-container text-right">
        <span class="login-subtitle">Less work. More jobs.</span><br>
        <span class="login-title">jobQuery</span>
    </div>
    <div class="login-container">
        <form>
        <div class="login-box" ng-show="success">
          <span class="login-incorrect">Check your email for your password reset link.</span>
        </div>
        <div class="login-box">
            <span class="login-label">E-mail</span><br>
            <input type="input" class="login-field" name="e-mail" ng-model="email" autofocus>
        </div>
        <div class="login-box">
            <input type="submit" value="Send Password Reset" class="login-button" ng-value="submitting ? 'Sending Reset...' : 'Send Password Reset'" ng-disabled="submitting" ng-click="sendPasswordReset(email)">
        </div>
        </form>
    </div>
    <div class="login-bg"></div>
</div>
